@{
    ViewData["Title"] = "Contact";
}
<link rel="stylesheet" href="~/css/contact.css"/>

<article>
    <section class="text-center">
        <h1 id="contact-title"> Contact & About </h1>
    </section>
    <section class="row g-5 m-4">
        <!-- HTML -->
        <div class="col-md-4 col-sm-12 col-12">
            <section class="contact-container">
                <h1> Contact Us </h1>
                <p>
                    This website was written by Oliver Witrzens <br/>
                    To get in contact please email u3224776@uni.canberra.edu.au
                </p>
            </section>
        </div>

        <!-- CSS -->
        <div class="col-md-4 col-sm-12 col-12">
            <section class="contact-container">
                <h1> About Us </h1>
                <p>
                    This website provides an introduction to Artificial Intelligence and was created as
                    partial fulfillment of the assessment requirements of Web Design and Programming at the
                    University of Canberra. <br/>
                    This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                    techniques.
                </p>
            </section>
        </div>

        <!-- BOOTSTRAP -->
        <div class="col-md-4 col-sm-12 col-12">
            <section class="contact-container">
                <h1> Copyright </h1>
                <p>
                    All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash</a> <br />
                    The icons for the footer from <a href="https://fontawesome.com/">fontawesome</a>.  <br />
                    The Anton font used for headers from <a href="https://fonts.google.com/">Google Fonts</a>.<br />
                    The AI jobs dataset from <a href="https://ai-jobs.net/">Insights</a>.<br />
                    The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a><br />
                    The Python web based on PyScript from <a href="https://realpython.com/pyscript-python-in-browser/">Real Python</a>.<br />
                </p>
            </section>
        </div>
    </section>
</article>

<script src="~/js/contact.js"></script>
